* {
  box-sizing: border-box;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(231, 243, 243);
}
.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 500px;
  height: 300px;
  border-top: 5px dotted yellow;
  border-left: 5px dashed red;
  border-right: 10px solid green;
  border-bottom: 5px double blue;
}
h2 {
  color: rgb(63, 53, 53);
  font-size: 30px;
  text-shadow: 2px 3px 5px gray;
  text-align: center;
}
.blue {
  max-width: 450px;
  height: 130px;
  border: 4px solid blue;
}
.green {
  max-width: 442px;
  height: 122px;
  border: 4px solid green;
}
.yellow {
  max-width: 434px;
  height: 114px;
  border: 4px solid yellow;
}
.red {
  max-width: 426px;
  height: 106px;
  border: 4px solid red;
  position: relative;
}
.blue,
.green,
.yellow,
.red {
  margin: auto;
  border-radius: 80px;
  text-align: center;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(63, 53, 53);
  font-size: 18px;
  text-shadow: 1px 2px 5px gray;
  text-align: center;
}
input {
  display: block;
  background-color: orange;

  border-right: 4px solid rgb(182, 122, 12);
  border-bottom: 2px solid rgb(182, 122, 12);
  border-top: 2px solid rgb(245, 179, 57);
  border-left: 4px solid rgb(245, 179, 57);
}
.inputs {
  margin-left: 50px;
  margin-top: -8px;
}
.circle-big {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  right: 0;
  top: -20px;
  opacity: 90%;
}

.circle-big-inside {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  border: 5px dashed white;
  top: 5px;
  right: 5px;
  opacity: 90%;
}
.small-circle {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  right: 40px;
  top: 35px;
  opacity: 90%;
}
.small-circle-inside {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: gray;
  border-radius: 50%;
  border: 4px dashed white;
  top: 2px;
  right: 2px;
  opacity: 90%;
}
.cool {
  position: absolute;
  width: 110px;
  height: 70px;
  background-color: gray;
  border-radius: 30%;
  right: -55px;
  top: 10px;
  opacity: 90%;
}
.cool-inside {
  display: flex;
  position: absolute;
  width: 105px;
  height: 65px;
  background-color: gray;
  border-radius: 30%;
  border: 4px dashed white;
  top: 3px;
  right: 3px;
  opacity: 90%;

  align-items: center;
}
p {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .container {
    max-width: 300px;
  }
  input {
    width: 50%;
  }
  .inputs {
    padding: 0;
    margin-top: -20px;
  }
}
